/* derived from my fav repo */
:root {
  --color-neutral-white: #ffffff;
  --color-neutral-default: #f9fafb;
  --color-neutral-dark: #6b7280;
  --color-neutral-darker: #1f2937;
  --color-neutral-placeholder: #9ca3af;
  --color-neutral-border: #e5e7eb;

  --color-neutral-heading: #111827;
  --color-neutral-body: #374151;
  --color-neutral-labels: #6b7280;
  --color-neutral-alternative: #4b5563;

  --color-primary-default: #2563eb;
  --color-primary-light: #60a5fa;
  --color-primary-lighter: #dbeafe;
  --color-primary-dark: #1d4ed8;
  --color-primary-darker: #1e3a8a;

  --color-secondary-default: #7c3aed;
  --color-secondary-light: #a78bfa;
  --color-secondary-lighter: #ede9fe;
  --color-secondary-dark: #6d28d9;
  --color-secondary-darker: #4c1d95;

  --color-red-default: #ef4444;
  --color-red-light: #fca5a5;
  --color-red-lighter: #fee2e2;
  --color-red-dark: #dc2626;
  --color-red-darker: #991b1b;

  --color-yellow-default: #f59e0b;
  --color-yellow-light: #fcd34d;
  --color-yellow-lighter: #fef3c7;
  --color-yellow-dark: #d97706;
  --color-yellow-darker: #92400e;

  --color-green-default: #10b981;
  --color-green-light: #6ee7b7;
  --color-green-lighter: #d1fae5;
  --color-green-dark: #059669;
  --color-green-darker: #065f46;

  --color-orange-default: #f97316;
  --color-orange-light: #fdba74;
  --color-orange-lighter: #ffedd5;
  --color-orange-dark: #ea580c;
  --color-orange-darker: #9a3412;

  --color-teal-default: #14b8a6;
  --color-teal-light: #5eead4;
  --color-teal-lighter: #ccfbf1;
  --color-teal-dark: #0d9488;
  --color-teal-darker: #115e59;

  --color-purple-default: #a855f7;
  --color-purple-light: #c084fc;
  --color-purple-lighter: #f3e8ff;
  --color-purple-dark: #9333ea;
  --color-purple-darker: #6b21a8;

  --color-pink-default: #ec4899;
  --color-pink-light: #f9a8d4;
  --color-pink-lighter: #fce7f3;
  --color-pink-dark: #db2777;
  --color-pink-darker: #9d174d;

  --color-blue-default: #3b82f6;
  --color-blue-light: #93c5fd;
  --color-blue-lighter: #dbeafe;
  --color-blue-dark: #2563eb;
  --color-blue-darker: #1e40af;
  --color-blue-tooltip: #1e293b;

  --color-cyan-default: #06b6d4;
  --color-cyan-light: #67e8f9;
  --color-cyan-lighter: #cffafe;
  --color-cyan-dark: #0891b2;
  --color-cyan-darker: #155e75;

  --color-lime-default: #84cc16;
  --color-lime-light: #bef264;
  --color-lime-lighter: #ecfccb;
  --color-lime-dark: #65a30d;
  --color-lime-darker: #365314;

  --color-violet-default: #8b5cf6;
  --color-violet-light: #c4b5fd;
  --color-violet-lighter: #ede9fe;
  --color-violet-dark: #7c3aed;
  --color-violet-darker: #5b21b6;

  --color-maroon-default: #be185d;
  --color-maroon-light: #f9a8d4;
  --color-maroon-lighter: #fce7f3;
  --color-maroon-dark: #9d174d;
  --color-maroon-darker: #831843;
}
